footer {

    background-color: grey;

    color: #fff;

    padding: 20px;

}

.footer-content, .footer-links, .social-media, .footer-bottom {

    margin-bottom: 15px;

}

.footer-links ul {

    list-style-type: none;

    padding: 0;

}

.footer-links li {

    display: inline;

    margin-right: 20px;

}

.footer-links a {

    color: #fff;

    text-decoration: none;

}

.social-media img {

    width: 30px;

    height: 30px;

    margin-right: 10px;

}

.footer-content svg {
    color: white;
}

/*harga*/
body {
  font-family: Arial, sans-serif;
}

.pricing-table {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.plan {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: center;
}

.plan h3 {
  font-size: 1.2em;
  color: #333;
}

.price {
  font-size: 1.8em;
  color: #4b6ef5;
}

.price span {
  font-size: 0.7em;
  color: #888;
}

.renewal-price {
  color: #888;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 20px;
}

.sign-up {
  background-color: #4b6ef5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.sign-up:hover {
  background-color: #3a5ed0;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.no {
  color: red;
}

.yes {
  color: green;
}

